.playlist-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.image {
  height: 122px;
  margin-bottom: 12px;
  margin-right: 5px;
}
.item-container {
  display: flex;
  align-items: center;
  width: 500px;
}
.name {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.genre {
  color: #3b82f6;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.duration-container {
  display: flex;
  align-items: center;
}
.duration {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-right: 50px;
}
.btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  color: #ffffff;
}
